<div class="search-box">
    <div id="sb-search" class="sb-search">
        <form action="/Home/Find/" method="post"> 
            <input class="sb-search-input" name="ten" placeholder="Nhập tên..." type="search" id="search">
            <input class="sb-search-submit" type="submit" value="Find">
            <span class="sb-icon-search"> </span>
        </form>
    </div>
</div>
