USE [master]
GO
/****** Object:  Database [QuanCafe]    Script Date: 6/27/2019 11:54:40 PM ******/
CREATE DATABASE [QuanCafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanCafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanCafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanCafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\QuanCafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanCafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanCafe]
GO
/****** Object:  Table [dbo].[BAIBAO]    Script Date: 6/27/2019 11:54:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAIBAO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIEUDE] [nvarchar](200) NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SANPHAM_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BINHLUAN]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BINHLUAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOIDUNG] [nvarchar](max) NULL,
	[SOSAO] [int] NULL,
	[SANPHAM_ID] [int] NULL,
	[KHACHHANG_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SANPHAM_ID] [int] NULL,
	[DONHANG_ID] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETNHAPHANG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETNHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SANPHAM_ID] [int] NULL,
	[NHAPHANG_ID] [int] NULL,
	[SOLUONGNHAP] [int] NULL,
	[GIANHAP] [int] NULL,
	[SOLUONGCONLAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYDAT] [date] NULL,
	[TENNGUOINHAN] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[TONGTIEN] [int] NULL,
	[TRANGTHAI_ID] [int] NULL,
	[KHACHHANG_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANGSX]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGSX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[ANH] [nvarchar](200) NULL,
	[MOTA] [ntext] NULL,
	[NGAYTAO] [date] NULL,
	[HANGSX_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[TENDANGNHAP] [varchar](30) NULL,
	[MATKHAU] [nvarchar](50) NULL,
	[SDT] [varchar](15) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[QUYEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAPHANG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAPHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [date] NULL,
	[NHACC_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRICE]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRICE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[GIABAN] [int] NULL,
	[BATDAU] [date] NULL,
	[KETTHUC] [date] NULL,
	[SANPHAM_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHOILUONG] [int] NULL,
	[ANH] [nvarchar](200) NULL,
	[MOTA] [ntext] NULL,
	[SOLUONG] [int] NULL,
	[LOAISP_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THONGKE]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THONGKE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NULL,
	[SANPHAM_ID] [int] NULL,
	[SOLUONGBAN] [int] NULL,
	[DOANHTHU] [int] NULL,
	[LOINHUAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANGTHAIDH]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANGTHAIDH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XUATHANG]    Script Date: 6/27/2019 11:54:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XUATHANG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CHITIETDH_ID] [int] NULL,
	[NHAPHANG_ID] [int] NULL,
	[SOLUONGXUAT] [int] NULL,
	[GIANHAP] [int] NULL,
	[GIABAN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HANGSX] ON 

INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (1, N'Trung Nguyen')
INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (2, N'Starbucks')
INSERT [dbo].[HANGSX] ([ID], [TEN]) VALUES (3, N'VinaCafe')
SET IDENTITY_INSERT [dbo].[HANGSX] OFF
SET IDENTITY_INSERT [dbo].[LOAISP] ON 

INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID]) VALUES (1, N'Cafe1', N'/Resources/Image/1.jpg', N'10', CAST(N'2019-03-02' AS Date), 1)
INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID]) VALUES (2, N'Cafe2', N'/Resources/Image/2.jpg', N'10', CAST(N'2019-03-02' AS Date), 1)
INSERT [dbo].[LOAISP] ([ID], [TEN], [ANH], [MOTA], [NGAYTAO], [HANGSX_ID]) VALUES (3, N'Cafe3', N'/Resources/Image/3.jpg', N'10', CAST(N'2019-03-02' AS Date), 1)
SET IDENTITY_INSERT [dbo].[LOAISP] OFF
SET IDENTITY_INSERT [dbo].[PRICE] ON 

INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (1, 50000, CAST(N'2019-03-02' AS Date), CAST(N'2019-12-02' AS Date), 1)
INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (2, 100000, CAST(N'2019-03-02' AS Date), CAST(N'2019-12-02' AS Date), 2)
INSERT [dbo].[PRICE] ([ID], [GIABAN], [BATDAU], [KETTHUC], [SANPHAM_ID]) VALUES (3, 150000, CAST(N'2019-03-02' AS Date), CAST(N'2019-12-02' AS Date), 3)
SET IDENTITY_INSERT [dbo].[PRICE] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID]) VALUES (1, 100, N'/Resources/Image/1.jpg', N'10', 100, 1)
INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID]) VALUES (2, 100, N'/Resources/Image/2.jpg', N'10', 100, 2)
INSERT [dbo].[SANPHAM] ([ID], [KHOILUONG], [ANH], [MOTA], [SOLUONG], [LOAISP_ID]) VALUES (3, 100, N'/Resources/Image/3.jpg', N'10', 100, 3)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
ALTER TABLE [dbo].[BAIBAO]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD FOREIGN KEY([KHACHHANG_ID])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[BINHLUAN]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([DONHANG_ID])
REFERENCES [dbo].[DONHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHAPHANG_ID])
REFERENCES [dbo].[NHAPHANG] ([ID])
GO
ALTER TABLE [dbo].[CHITIETNHAPHANG]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([KHACHHANG_ID])
REFERENCES [dbo].[NGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD FOREIGN KEY([TRANGTHAI_ID])
REFERENCES [dbo].[TRANGTHAIDH] ([ID])
GO
ALTER TABLE [dbo].[LOAISP]  WITH CHECK ADD FOREIGN KEY([HANGSX_ID])
REFERENCES [dbo].[HANGSX] ([ID])
GO
ALTER TABLE [dbo].[NHAPHANG]  WITH CHECK ADD FOREIGN KEY([NHACC_ID])
REFERENCES [dbo].[NHACUNGCAP] ([ID])
GO
ALTER TABLE [dbo].[PRICE]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([LOAISP_ID])
REFERENCES [dbo].[LOAISP] ([ID])
GO
ALTER TABLE [dbo].[THONGKE]  WITH CHECK ADD FOREIGN KEY([SANPHAM_ID])
REFERENCES [dbo].[SANPHAM] ([ID])
GO
ALTER TABLE [dbo].[XUATHANG]  WITH CHECK ADD FOREIGN KEY([CHITIETDH_ID])
REFERENCES [dbo].[CHITIETDONHANG] ([ID])
GO
ALTER TABLE [dbo].[XUATHANG]  WITH CHECK ADD FOREIGN KEY([NHAPHANG_ID])
REFERENCES [dbo].[NHAPHANG] ([ID])
GO
USE [master]
GO
